/* Noto Sans JP - Google Fonts */ 
@import url( https://fonts.googleapis.com/earlyaccess/notosansjp.css );

/**
 * Body CSS
 */

html,
body {
  height: 100%;
  background-color: #eee;
  font-family: 'Noto Sans JP', sans-serif;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.frame {
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
  height:100%;
  width:100%;
  position:relative;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

/**
 * Layout CSS
 */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
  font-size: 20px;
}

#header a {
  color: #fff;
}


#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 280px;
  left: -280px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  min-width: 680px;
  margin-left: 0px;
  transition: margin-left 0.2s;
  
  /* sticky bottom */
  box-sizing: border-box;
  margin-bottom: -80px;
  padding-bottom: 80px;
}

#footer {
  box-sizing: border-box;
  overflow-x: hidden;
  min-width: 680px;

  margin-left: 0px;
  padding-bottom: 20px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 280px;
  }
  
  #sidedrawer {
    transform: translate(280px);
  }
  
  #content-wrapper {
    margin-left: 300px;
    margin-right: 50px;
  }
  
  #footer {
    margin-left: 280px;
  }
  
  body.hide-sidedrawer #header {
    left: 0;
  }
  
  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }
  
  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }
  
  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
  transform: translate(280px);
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
  margin: 10px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}

#sidedrawer a {
  color: #000000;
}
#sidedrawer a.active {
  color: #C51162;
}


/**
 * Footer CSS
 */

#footer {
  background-color: #0288D1;
  color: #fff;
}

#footer a {
  color: #fff;
}

.googleIcons {
  vertical-align: -0.15em;
 }

#titleName {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

#chapterDesc {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

#chapterListPanel {
  width: 400;
}

table td {
  padding: 10px;
  text-align: center;
}

table a {
  color: #000000;
}

.icons {
  margin-bottom: 15px;
  margin-left:  13px;
}